/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 40px;
    /* ukuran gambar lonceng */
    height: 40px;
    object-fit: contain;
    filter: drop-shadow(0 3px 5px rgba(140, 110, 255, 0.35));
}



.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
    background: #eee8ff;
    color: #5f4dd6;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 4px 4px 8px rgba(160, 140, 255, 0.3),
        -4px -4px 8px rgba(255, 255, 255, 0.8);
}

.nav-links a:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 12px rgba(160, 140, 255, 0.35),
        -6px -6px 12px rgba(255, 255, 255, 0.9);
}

.nav-links a:active {
    transform: translateY(1px);
    box-shadow: inset 3px 3px 6px rgba(160, 140, 255, 0.35),
        inset -3px -3px 6px rgba(255, 255, 255, 0.9);
}


/* RESULT CARD */

.result-card {
    background: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* SCORE CIRCLE */

.score-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;

    background: conic-gradient(#ff9ecf 0deg,
            #c8a2ff 180deg,
            #8bb4ff 360deg);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.score-circle::before {
    content: "";

    width: 100px;
    height: 100px;

    background: #f2f1f7;

    border-radius: 50%;

    position: absolute;
}

.score-circle span {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

/* STATUS BAR */

.status-bar {
    background: #ffdcdc;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    margin-top: 6px;
}


/* PROGRESS BAR */

.progress-bar {
    display: flex;
    gap: 6px;
}

.progress {
    height: 8px;
    border-radius: 10px;
    flex: 1;
}

.pink {
    background: #f8a5c2;
}

.purple {
    background: #c9b5ff;
}

.blue {
    background: #8bb4ff;
}


/* MINI CARDS */

.mini-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.mini-card span {
    font-size: 14px;
    color: #555;
}


/* RECOMMEND */

.recommend-card {
    background: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.recommend-bar {
    width: 180px;
    height: 20px;
    background: #8fa2ff;
    border-radius: 20px;
    margin-top: 10px;
}