/* FORM CARD */

.form-card {
    background: #f2effa;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form-title {
    font-size: 14px;
    margin-top: 10px;
}

/* INPUT */

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background: #e9e4f2;
}

/* SIDEBAR */

.side-icon {
    width: 40px;
    height: 40px;
    background: #e3dcff;
    border-radius: 10px;
}

.side-icon.active {
    background: #b9b2ff;
}

/* GENDER BUTTON */

.gender {
    padding: 8px 20px;
    border-radius: 12px;
    border: none;
    font-size: 13px;
    background: #e5e5e5;
    color: #555;
    cursor: pointer;
    transition: 0.2s;
}

/* ACTIVE GIRL */
.gender.girl.active {
    background: #e8c8e8;
    color: #6b2b6b;
}

/* ACTIVE BOY */
.gender.boy.active {
    background: #8db2e8;
    color: white;
}

/* BUTTON */

.btn-main {
    background: linear-gradient(90deg, #8e7dff, #f3b1d3);
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: 600;
}