body{
margin:0;
font-family: 'Poppins', sans-serif;
background:linear-gradient(135deg,#f3f0ff,#eceaf4);
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.auth-card{

background:white;
padding:50px;
border-radius:25px;
text-align:center;
width:380px;

box-shadow:0 15px 40px rgba(0,0,0,0.08);

}

.logo{
width:80px;
margin-bottom:20px;
}

h1{
font-size:24px;
margin-bottom:10px;
color:#333;
}

p{
font-size:14px;
color:#777;
margin-bottom:30px;
}

.buttons{
display:flex;
gap:15px;
justify-content:center;
}

.btn{
display:inline-block;
padding:12px 28px;
border-radius:12px;
text-decoration:none;
font-weight:500;
transition:all 0.2s ease;
cursor:pointer;
}
.btn:hover{
transform:scale(1.05);
}
.btn:hover{
transform:scale(1.05);
}
.login{
background:#8b7cf6;
color:white;
box-shadow:0 6px 15px rgba(139,124,246,0.3);
}

.login:hover{
background:#7567e8;
}

.signup{
border:2px solid #8b7cf6;
color:#8b7cf6;
background:white;
}

.signup:hover{
background:#f3f0ff;
}